body {
	background: white;
	min-height: 613px;
}

.content-page .content {
	margin-bottom: 10%; /* kinda bug fix */
}

.navbar {
	min-height: 43px;
}

button, .btn-gray {
	color: #2c3133;
	font-weight: 400;
	background: #ECEFF1;
	border: 1px solid #d6d1d1;
}

.btn-blue {
	color: #007de0;
	font-weight: 600;
	background: #e3f2fd;
	border: 1px solid #cce4f7;
}

.titre {
	font-weight: 600;
	color: #0084e5;
	margin: 1%;
}

.eq-menu-arrow {
	font-size: 10px;
	margin: 3px;
}

/* style */
.unstyled, .no-style {
	list-style: none;
}

/* 
 For tables that contains form inputs
 AND tables that display data as key,value
 */
.table-kv tr td:first-child {
	background: #fdfdfd;
	width: 20%;
}

.table-kv td>ul {
	list-style: none;
	margin-left: -5%;
}

.as-link {
	/** treat a button as an <a> */
	background: #ffffff;
	border: 1px solid #ffffff;
	width: 100%;
}

.as-link:hover {
	color: #007de0;
}

.smaller {
	font-size: smaller;
}

.archived, .deleted {
	color: #F44336;
}

input {
	border: 1px solid rgba(33, 150, 243, 0.32);
    height: 30px;
    min-width: 200px;
    padding: 2px;
}
input[type=checkbox], input[type=radio] {
    height: 14px;
    min-width: 10px;
}
.table-form {
	background: rgb(249, 249, 249);
	padding: 2%;
}

table.table-form td {
	padding: 3% 4%;
	border-bottom: 3px solid white;
}

table.table-form td:NTH-CHILD(1) {
	background: rgba(128, 128, 128, 0.04);
    min-width: 185px;
}