{% extends "../layout" %}
{% import "./_UserFormMacro" %}
{% block title %}
Ajout d'une tache
{% endblock %}

{% block content %}
  <form action="/tache/save" method="post" name="{{ formName }}">
    	<table class="table">
    		<tr>
    			<td>
    			  Nom
    			</td>
    			<td>
    			 <input type="text" name="nom" value="{{ tacheForm }}">
    			</td>
    		</tr>
    	</table>
  </form>
{% endblock %}