{% extends "../../layout" %}
{% import "./../_UserFormMacro" %}

{% block title %}
  Gestion des agents
{% endblock %}

{% block content %}
		<div class="titre"> <i class="fa fa-plus"></i> 
		   {% if agentUserForm.id is null or agentUserForm.id<0 %}
		     Nouvel agent
		   {% else %} 
		     Edition de l'agent:
		     {{ agentUserForm.lastName  | upper }} 
		     {{ agentUserForm.firstName | capitalize }}  
		  {% endif %}
		</div>
	    {{ userFormMacro(agentUserForm,saveUrl='/user/agent/save', formName="agentUserForm") }}
		 
{% endblock %}