<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block title %} {% endblock %}</title>
    <!-- ~~~ ~~ ~~ ~~ ~~ ~~ DEP APP ~~~ ~~ ~~ ~~ ~~ ~~  -->
    <script src="/resources/node_modules/vue/dist/vue.js"></script>
    <!-- <script src="/resources/node_modules/vue/dist/vue.common.js"></script> -->
    <script src="/resources/node_modules/axios/dist/axios.js"></script>
    <script src="/resources/node_modules/lodash/lodash.js"></script>
    <script src="/resources/node_modules/moment/min/moment.min.js"></script>
    <script src="/resources/node_modules/moment/locale/fr.js"></script>
    <!-- App CSS -->
    <link href="/resources/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/resources/assets/css/core.css" rel="stylesheet" type="text/css" />
    <link href="/resources/assets/css/components.css" rel="stylesheet" type="text/css" />
    <link href="/resources/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="/resources/assets/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="/resources/assets/css/menu.css" rel="stylesheet" type="text/css" />
    <link href="/resources/assets/css/responsive.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    <script src="/resources/assets/js/modernizr.min.js"></script>
    <script src="/resources/node_modules/systemjs/dist/system.js"></script>
    <script type="text/javascript">
        System.config({
            baseURL: '/resources/web-app/',
            defaultJSExtensions: true,
            packages: {
                '.': {
                    defaultExtension: 'js'
                }
            },
            meta: {
                '*': {
                    format: 'register'
                }
            },
        });
        System.import('index.js');
        System.import('common-component/global.components.loader.js');
    </script>
    {% block appImport %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" media="all" href="/resources/css/main.css" />
    <script>
        var resizefunc = [];

    </script>
    <!-- jQuery  -->
    <script src="/resources/assets/js/jquery.min.js"></script>
    <script src="/resources/assets/js/bootstrap.min.js"></script>
    <script src="/resources/assets/js/detect.js"></script>
    <script src="/resources/assets/js/fastclick.js"></script>
    <script src="/resources/assets/js/jquery.slimscroll.js"></script>
    <script src="/resources/assets/js/jquery.blockUI.js"></script>
    <script src="/resources/assets/js/waves.js"></script>
    <script src="/resources/assets/js/jquery.nicescroll.js"></script>
    <script src="/resources/assets/js/jquery.scrollTo.min.js"></script>
    <!-- App js -->
    <script src="/resources/assets/js/jquery.core.js"></script>
    <script src="/resources/assets/js/jquery.app.js"></script>
</head>

<body class="fixed-left">
    <!-- Begin page -->
    <div id="wrapper">
        <!-- Top Bar Start -->
        <div class="topbar">
            <!-- Button mobile view to collapse sidebar menu -->
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <!-- Page title -->
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <button onclick="openMenu()" id="openLeftMenu" class="button-menu-mobile open-left">
                                    <i class="zmdi zmdi-menu"></i>
                                </button>
                        </li>
                        <li>
                            <h4 class="page-title">Equinooxe</h4>
                        </li>
                    </ul>
                    <!-- Right(Notification and Searchbox -->
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <!-- Notification -->
                            <div class="notification-box">
                                <ul class="list-inline m-b-0">
                                    <li>
                                        <a href="javascript:void(0);" class="right-bar-toggle">
                                            <i class="zmdi zmdi-notifications-none"></i>
                                        </a>
                                        <div class="noti-dot">
                                            <span class="dot"></span>
                                            <span class="pulse"></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Notification bar -->
                        </li>
                    </ul>
                </div>
                <!-- end container -->
            </div>
            <!-- end navbar -->
        </div>
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->
        {% include "partials/leftSideBar" %}
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container">
                    <div class="row">
                        {% block content %} Default content goes here. {% endblock %}
                    </div>
                </div>
                <!-- container -->
            </div>
            <!-- content -->
            <footer class="footer">
                2016-2017 © Equinooxe.
            </footer>
        </div>
        <!-- End content-page -->
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        {% include "partials/rightSideBar" %}
        <!-- /Right-bar -->
    </div>
    <!-- END wrapper -->
</body>

</html>
