<div  id="sidebar-menu">
   <ul>
      <li><a href="{{ href('/home') }}" class="waves-effect {{request.getRequestURI().startsWith('/home') ? 'active':''}}"><i
         class="zmdi zmdi-view-dashboard"></i> <span> Dashboard </span> </a>
       </li>
      <li>
       <a href="{{ href('/user/list') }}"
          class="waves-effect {{request.getRequestURI().startsWith('/user') ? 'active':''}}">
           <i class="ti-user"></i> 
           <span> Utilisateurs </span> 
        </a>
      </li>
      <li class="has_sub">
         <a href="javascript:void(0);"
            class="waves-effect"><i class="zmdi zmdi-invert-colors"></i> 
            <span>  User Interface </span> <span class="menu-arrow"></span>
         </a>
      </li>
      <li class="has_sub">
         <a href="javascript:void(0);"
            class="waves-effect"><i class="zmdi zmdi-collection-text"></i>
            <span class="label label-warning pull-right">7</span>
            <span> Forms </span> 
         </a>
      </li>
      
      <li class="has_sub">
             <a href="javascript:void(0);" class="waves-effect">
               <i class="zmdi zmdi-view-list"></i>
                <span> Tables </span> 
                <span class=" menu-arrow ti-angle-right pull-right"></span>
                <span class=" menu-arrow ti-angle-down pull-right" style="display: none;"></span>
             </a>
             <ul class="list-unstyled">
             <li><a href="tables-basic.html">Basic Tables</a></li>
             <li><a href="tables-datatable.html">Data Table</a></li>
             <li><a href="tables-responsive.html">Responsive Table</a></li>
             <li><a href="tables-editable.html">Editable Table</a></li>
             </ul>
      </li>
      <li>
        <a href="inbox.html" class="waves-effect"><i
           class="zmdi zmdi-email"></i><span
           class="label label-purple pull-right">New</span><span> Mail </span>
        </a>
      </li>
      <li class="has_sub">
         <a href="" class="waves-effect">
         	<i class="zmdi zmdi-collection-item"></i>
         	<span> Pages </span> <span class="menu-arrow"></span>
         </a>
         <ul class="list-unstyled">
            <li><a href="page-starter.html">Starter Page</a></li>
            <li><a href="page-login.html">Login</a></li>
         </ul>
      </li>
   </ul>
   <div class="clearfix"></div>
</div>