{% import "partials/leftSideBarMacro" %}

{% set menuModel =
{
    "dashboard": {
        "url": "/home",
        "active": request.getRequestURI().startsWith('/home'),
        "icon": "zmdi zmdi-view-dashboard",
        "label": "Dashboard",
        "subs": []
    },
    "cleaning": {
        "url": "/cleaning",
        "active": request.getRequestURI().startsWith('/clean'),
        "icon": "ti-layout-media-right-alt",
        "label": "Cleaning",
        "subs": [
                 {
                    "url": "/cleaning/request/list",
                    "label": "Demandes",
                    "active": request.getRequestURI().startsWith('/request/list')
                 },
                 {
                    "url": "/tache/definition/list",
                    "label": "Tache définitions",
                    "active": request.getRequestURI().startsWith('/tache/definition/list')
                  }
                ]
    },
    "users": {
        "url": "/user",
        "active": request.getRequestURI().startsWith('/user'),
        "icon": "ti-user",
        "label": "Utilisateurs",
        "subs": [{
                "url": "/user/manager/list",
                "label": "Managers",
                "active": request.getRequestURI().startsWith('/manager/list')
                },
                {
                "url": "/user/agent/list",
                "label": "Agents",
                "active": request.getRequestURI().startsWith('/agent/new')
        }]
    },
	"espaces": {
        "url": "/espaces",
        "active": request.getRequestURI().startsWith('/espaces'),
        "icon": " ti-layers",
        "label": "Lieux/Espaces",
        "subs": [
                {
                "url": "/espaces/batiment/list",
                "label": "Batiments",
                "active": request.getRequestURI().startsWith('/espaces/batiment')
                },
                {
                "url": "/espaces/etage/list",
                "label": "Etages",
                "active": request.getRequestURI().startsWith('/espaces/etage')
                },
                {
                "url": "/espaces/espace/list",
                "label": "Espaces",
                "active": request.getRequestURI().startsWith('/espaces/espace')
                }
               ]
    }
}
%} 
<div  id="sidebar-menu">
   <ul>
      {{ leftMenuEntry(menuModel.dashboard) }}
      {{ leftMenuEntry(menuModel.cleaning) }}
      {{ leftMenuEntry(menuModel.users) }}
      {{ leftMenuEntry(menuModel.espaces) }} 
   </ul>
   <div class="clearfix"></div>
</div>
