{% import "partials/leftSideBarMacro" %}
{% set menuModel =
{
    "dashboard": {
        "url": "/home",
        "active": request.getRequestURI().startsWith('/home'),
        "icon": "zmdi zmdi-view-dashboard",
        "label": "Dashboard",
        "subs": []
    },
    "users": {
        "url": "/user",
        "active": request.getRequestURI().startsWith('/user'),
        "icon": "ti-user",
        "label": "Utilisateurs",
        "subs": [{
                "url": "/user/list",
                "label": "Liste",
                "active": request.getRequestURI().startsWith('/user/list')
                },
                {
                "url": "/user/new",
                "label": "Ajouter",
                "active": request.getRequestURI().startsWith('/user/new')
        }]
    },
	"spaces": {
        "url": "/spaces",
        "active": request.getRequestURI().startsWith('/spaces'),
        "icon": " ti-layers",
        "label": "Espaces",
        "subs": []
    }
}
%}
<div  id="sidebar-menu">
   <ul>
      {{ leftMenuEntry(menuModel.dashboard) }}
      {{ leftMenuEntry(menuModel.users) }}
      {{ leftMenuEntry(menuModel.spaces) }} 
   </ul>
   <div class="clearfix"></div>
</div>