{% import "partials/leftSideBarMacro" %}
{% set menuModel =
{
    "dashboard": {
        "url": "/home",
        "active": request.getRequestURI().startsWith('/home'),
        "icon": "zmdi zmdi-view-dashboard",
        "label": "Dashboard",
        "subs": []
    },
    "users": {
        "url": "/user",
        "active": request.getRequestURI().startsWith('/user'),
        "icon": "ti-user",
        "label": "Utilisateurs",
        "subs": [{
                "url": "/user/list",
                "label": "Liste",
                "active": request.getRequestURI().startsWith('/user/list')
                },
                {
                "url": "/user/new",
                "label": "Ajouter",
                "active": request.getRequestURI().startsWith('/user/new')
        }]
    },
	"espaces": {
        "url": "/espaces",
        "active": request.getRequestURI().startsWith('/espaces'),
        "icon": " ti-layers",
        "label": "Espaces",
        "subs": [{
                "url": "/espaces/batiment/list",
                "label": "Batiments",
                "active": request.getRequestURI().startsWith('/espaces/batiment')
                },
                {
                "url": "/espaces/etage/list",
                "label": "Etages",
                "active": request.getRequestURI().startsWith('/espaces/etage')
                }
               ]
    }
}
%} 
<div  id="sidebar-menu">
   <ul>
      {{ leftMenuEntry(menuModel.dashboard) }}
      {{ leftMenuEntry(menuModel.users) }}
      {{ leftMenuEntry(menuModel.espaces) }} 
   </ul>
   <div class="clearfix"></div>
</div>