<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Layout page</title>
    <script src="../../vendors/jquery/jquery.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="../../vendors/bootstrap/css/bootstrap.css" th:href="@{/vendors/bootstrap/css/bootstrap.css}"
    />
    <script src="../../vendors/bootstrap/js/bootstrap.js"></script>
    <script src="../../vendors/vuejs/Vue.js"></script>
    <script src="../../vendors/metisMenu/metisMenu.js"></script>
    <script src="../../node_modules/systemjs/dist/system.js"></script>
    <!-- <script src="../../config.js"></script> -->
    <!-- <script src="../../web-app/index.js"></script> -->
    <script type="text/javascript">
	System.config({
		baseURL : '../../web-app/',
		defaultJSExtensions : true,
		packages : {
			'.' : {
				defaultExtension : 'js'
			}
		},
		meta : {
			'*' : {
				format : 'register'
			}
		},
	});
	System.import('index.js');
</script>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/main.css" th:href="@{/css/main.css}" />
</head>

<body>
    <ul>
        <li>
            <h4>En1</h4>
        </li>
        <li>
            <h4>En2</h4>
        </li>
        <li>
            <h4>En3</h4>
        </li>
        <li>
            <h4>En4</h4>
        </li>
    </ul>
    <header>
        <h1>My website</h1>
        <div id="app"> 
			<p>{{ message }}</p>
  		    <input type="text" v-model="message" />
	        <button v-on:click="alertUser(message)" > Click : </button>
        </div>
    </header>
    <section layout:fragment="content">
        <p>Page content goes here</p>
    </section>
    <footer>
        <p>My footer</p>
        <p layout:fragment="custom-footer">Custom footer here</p>
    </footer>
</body>

</html>
