body {
    background: white;
}
.navbar {
    min-height: 43px;
}

button, .btn-gray {
	color: #2c3133;
    font-weight: 400;
    background: #ECEFF1;
    border: 1px solid #d6d1d1;
}
.btn-blue {
	color: #007de0;
    font-weight: 400;
    background: #e3f2fd;
    border: 1px solid #2196F3;
}

 