{% extends "../../layout" %}
{% import "./../_UserFormMacro" %}

{% block title %}
  Gestion des managers
{% endblock %}

{% block content %}
		<div class="titre"> <i class="fa fa-plus"></i> 
		   {% if managerUserForm.id is null or managerUserForm.id<0 %}
		     Nouveau manager
		   {% else %} 
		     Edition du manager:
		     {{ managerUserForm.lastName | upper }} 
		     {{ managerUserForm.firstName | capitalize }}  
		  {% endif %}
		</div>
	    {{ userFormMacro(managerUserForm,saveUrl='/user/manager/save', formName="managerUserForm") }}
		 
{% endblock %}