{% extends "../../layout" %}
{% import "./../_UserFormMacro" %}

{% block title %}
  Gestion utilisateur
{% endblock %}

{% block content %}
		<div class="titre"> <i class="fa fa-plus"></i> 
		   {% if userForm.id is null or userForm.id<0 %}
		     Nouvel utilisateur 
		   {% else %} 
		     Edition de l'utilisateur:
		     {{ userForm.lastName | upper }} 
		     {{ userForm.firstName | capitalize }}  
		  {% endif %}
		</div>
		
		{{ userFormMacro(userForm,saveUrl='/user/save', formName="userForm") }}
		 
{% endblock %}